@model com.study.core.model.TblSurvey

@{
    ViewData["Title"] = "설문수정";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>수정</h1>

<h4>설문 </h4>
<hr />
<div class="text-right">
    <a asp-action="Index" asp-controller="TblSurveys" class="btn btn-primary">목록</a>
</div>
<form id="frmMain" asp-action="Edit" asp-controller="TblSurveys" enctype="multipart/form-data" onsubmit="return confirm('저장을 하시겠습니까?');">
    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SurveyNo" />
            <div class="form-group">
                <label asp-for="SName" class="control-label"></label>
                <input asp-for="SName" class="form-control" />
                <span asp-validation-for="SName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseBl" class="control-label"></label>
                <input asp-for="UseBl" class="form-control" />
                <span asp-validation-for="UseBl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmsMessage" class="control-label"></label>
                <input asp-for="SmsMessage" class="form-control" />
                <span asp-validation-for="SmsMessage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IngQuotaBl" /> @Html.DisplayNameFor(model => model.IngQuotaBl)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LastDay" class="control-label"></label>
                <input asp-for="LastDay" class="form-control" />
                <span asp-validation-for="LastDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Callback" class="control-label"></label>
                <input asp-for="Callback" class="form-control" />
                <span asp-validation-for="Callback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoFile" class="control-label"></label>
                <input asp-for="LogoFile" class="form-control" />
                <input name="fileCollection"  class="form-control" type="file" value="@Model.LogoFile" />@Html.DisplayFor(model => model.LogoFile)
                <span asp-validation-for="LogoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseListCountBl" class="control-label"></label>
                <input asp-for="UseListCountBl" class="form-control" />
                <span asp-validation-for="UseListCountBl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CssStyleName" class="control-label"></label>
                <input asp-for="CssStyleName" class="form-control" />
                <span asp-validation-for="CssStyleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UseQuotaAccessBl" class="control-label"></label>
                <input asp-for="UseQuotaAccessBl" class="form-control" />
                <span asp-validation-for="UseQuotaAccessBl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoWidth" class="control-label"></label>
                <input asp-for="LogoWidth" class="form-control" />
                <span asp-validation-for="LogoWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogHeight" class="control-label"></label>
                <input asp-for="LogHeight" class="form-control" />
                <span asp-validation-for="LogHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyYear" class="control-label"></label>
                <input asp-for="SurveyYear" class="form-control" />
                <span asp-validation-for="SurveyYear" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span>
                    <input id="btnSave" type="submit" value="저장" class="btn btn-primary" />
                </span>
                <span>
                    <a id="btnDelete" class="btn btn-warning" href="/TblSurveys/Delete/@Model.SurveyNo" onclick = "if (! confirm('삭제를 하시겠습니까?')) { return false; }">삭제</a>
                </span>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    $(document).ready(function () {

        //ajax를 이용하여  저장할 때 사용하는 코드
        //별도 api를 호출한다.
        $(".button-save").click(function (e) {
            try {
                e.preventDefault();
                var formData = new FormData();

                $.ajax({
                    type: "POST",
                    url: '/List/UploadSendOne',
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    error: function (request, status, error) {
                        //showAlertMsg("code : " + request.status + "\r\nmessage : " + request.reponseText);
                        showAlertMsg("로그인 후 다시 이용해주세요! (장시간 이용하지 않았거나  네트워크 오류 입니다!");
                        location.href = "/Sign/Out";
                    },
                    success: function (response, status, request) {
                        var obj = JSON.parse(request.responseText);
                        if (obj.isSuccess) {
                            alert("업로드 완료!");
                            location.reload(true);
                        } else {
                            if (obj.isSession) {
                                alert(obj.msg);
                            } else {
                                alert("세션이 만료 되었습니다.\n다시 로그인 후 이용해 주세요!");
                            }
                        }
                    },
                    beforeSend: function () {
                        showLoading(true);
                    },
                    complete: function () {
                        showLoading(false);
                    }
                });
            } catch (ex) {
                alert(ex);
            }


        })

    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
