/com.study.core.web/logs
/com.study.core.web/bin
/com.study.core.web/obj
/com.study.core.model/bin
/com.study.core.model/obj
/com.study.core.utility.test/bin
/com.study.core.utility.test/obj
/com.study.core.utility/obj
/com.study.core.utility/bin
/com.study.core.context/bin
/com.study.core.context/obj
/com.study.core.model.original
/com.study.core.web.menu/obj
/com.study.core.web.menu/bin
