.vs/
.bin/
.obj/
/.vs
/com.study.core.web/logs
/com.study.core.web/bin
/com.study.core.web/obj
/com.study.core.utility/bin
/com.study.core.utility/obj
/com.study.core.web.filter/bin
/com.study.core.web.filter/obj
/com.study.core.web.menu/bin
/com.study.core.web.menu/obj
/*/bin
/*/obj
*.dll
*.log