@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}





<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>알람</h2>
        <div class="panel-group">
            <div class="panel panel-warning">
                <div class="panel-heading"><h2> 오류가 발생하였습니다.</h2></div>
                <div class="panel-body"><h4>@Model.Message</h4></div>
                <div class="panel-footer text-center">
                    @Html.ActionLink("로그인", "Index", "Home", new { }, new { @class = "formcontrol btn btn-primary" })
                </div>
            </div>
        </div>

    </div>
>
</body>
</html>