@using System;
@using NonFactors.Mvc.Grid;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@using System.Web;

@model IEnumerable<com.study.core.model.TblList>

@{
    ViewData["Title"] = "리스트 목록";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>리스트</h1>

<div class="text-right">
    <p>
        <a asp-action="Create" class="btn btn-primary">등록</a>
    </p>
</div>
@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => Html.CheckBox("Check_" + model.ListNo)).Titled(Html.CheckBox("선택")).Css("text-center");
        columns.Add(model => model.Col01).Titled("항목01");
        columns.Add(model => model.Col02).Titled("항목02");
        columns.Add(model => model.Col03).Titled("항목03");
        columns.Add(model => model.Col04).Titled("항목04");
        columns.Add(model => model.Col05).Titled("항목05");
        //columns.Add(model => model.CellNum).Titled("전호번호");
        //columns.Add(model => model.FinishBl).Titled("종료여부");
        //columns.Add(model => model.IngBl).Titled("진행여부");
        //columns.Add(model => model.RefusalBl).Titled("거정여부");
        //columns.Add(model => model.QuotaOverBl).Titled("쿼터오버");
        //columns.Add(model => model.StopBl).Titled("중지여부");
        //columns.Add(model => model.EndCode).Titled("종료코드");
        //columns.Add(model => model.StateCode).Titled("진행상태");
        //columns.Add(model => model.QuestCount).Titled("항목개수");


        columns.Add(model => Html.ActionLink("수정" , "Edit" , "TblLists"  ,new { surveyno=model.SurveyNo , listno = model.ListNo } , new { @class="btn btn-sm btn-primary"} )).Titled("수정").Css("text-center").Encoded(false);


    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {

        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 15;
    })
)

